/* Resets the default box-sizing, margin, and padding for all elements */
* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

/* Sets the documents base font size, font family, and screen height */
html,
body {
 font-size: 16px;
 font-family: "Poppins", sans-serif;
 block-size: 100%;
}

/* Removes the underline from the Play Now buttons and sets the mouse style to pointer */
a {
 text-decoration: none;
 cursor: pointer;
}

/* Sets the display to block a max width for all images */
img {
 display: block;
 max-inline-size: 100%;
}

/* Centers the header content, sets the background color, and adds some padding around the content */
header {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 1em;
 min-block-size: 100%;
 background: #f6f8fc;
 padding: 1em;
}

/* Sets the font size to 40px (2.5 * 16px), font weight, and color */
header h1 {
 font-size: 2.5em;
 font-weight: 500;
 color: #202124;
}

/* Sets a max width of 768px (48 * 16px), color, and line height */
header p {
 max-inline-size: 48em;
 color: #656565;
 line-height: 1.6;
}

/* Adds some padding to the main content */
main {
 padding: 1em;
}

/* Sets the display to flex with a flex direction of column and a 32px (2em * 16px) gap  */
section {
 display: flex;
 flex-direction: column;
 gap: 2em;
 padding-block: 6em;
 margin-inline: auto;
 border-block-end: 1px solid #f4f4f4;
}

/* Removes the bottom border from the last section element */
section:last-of-type {
 border-block-end: none;
}

/* Sets a border radius of 16px (1em * 16px) */
section img {
 border-radius: 1em;
 margin-inline: auto;
 order: 0;
}

/* Sets the display to flex with a flex direction of column */
article {
 display: flex;
 flex-direction: column;
 max-inline-size: 35em;
 margin-inline: auto;
 order: 1;
}

/* Sets the font size, font weight, and font color and adds an 8px (.5rem * 16px) margin to the bottom */
article h2 {
 font-size: 2em;
 font-weight: 500;
 color: #202124;
 margin-block-end: .5rem;
}

/* Sets the font color and line height and adds a 16px (1em * 16px) margin to the bottom of each p element */
article p {
 color: #656565;
 margin-block-end: 1em;
 line-height: 1.6;
}

/* Sets the display to flex and aligns the a element vertically and horizontally centered, sets the color and background color, adds 12px (.75em * 16px) vertical padding and 20px (1.25em * 16px) horizontal padding, a border radius of 8px (.5em * 16px), and a 250 millisecond transition (see below) when hovering over the link */
article a {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: .75em 1.25em;
 color: #202124;
 background: #39ff14;
 border-radius: .5em;
 transition: 250ms ease;
}

/* Sets the background color to a slightly different neon green when hovering over the a element */
article a:hover {
 background: #25c509;
}

/* Sets the background and adds 48px (3em * 16px) padding to the footer element */
footer {
 background: #f6f8fc;
 padding: 3em;
}

/* Sets the text alignment, font size, and font color of the footer p element */
footer p {
 text-align: center;
 font-size: .875em;
 color: #202124;
}

/* This is a media query that conditionally styles elements when the screen is at least 992px wide */
@media screen and (min-width: 992px) {
 /* When the screen is greater than 992px, the section flex direction changes to row */
 section {
  flex-direction: row;
  gap: 3em;
  max-inline-size: 72em;
 }

 section img {
  order: initial;
 }

 article {
  order: initial;
 }
}